<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.echofarm" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="EchoFarm" android:allowBackup="true">
        <activity android:name=".ShopActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" />
    </application>
</manifest>
